header{
    background-color:#F19F1F;
    padding: 1rem;
    font-size: 1rem;
 
}




footer{
    display: flex;
    justify-content: space-around;
    background-color:#363636;
    padding: 1rem;
    color:white;
}

img{
    width: 100px;
    height: 100px;
}


.registrarMascotaCampos{
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 20px;
    margin:1rem;
    display:flex;
    justify-content: space-between;
    padding: 1rem;
    
}

.principal{
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 20px;
    margin:1rem;
    display: flex;
    justify-content: space-between;
}


h1{
    color:rgb(14, 184, 214);
}

input{
    width: 20rem;
    
}

label{
    color:darkolivegreen;
}


.seccion--izquierda>p{
margin: 0px;
color:darkolivegreen;
margin-top: 1rem;

}

.seccion--derecha{
    
    margin-top: 5rem;
    
    
    }

.seccion--derecha>p{
    margin: 0px;
    color:darkolivegreen;
    margin-top: 1rem;

    }

    .seccion--derecha>input{

        color:darkolivegreen;
        
        margin-bottom: 1rem;
    
        }

.registrarMascotaCampos>input{
    width: 15rem;
}

.observaciones--campo{
    height: 5rem;
}



.busqueda--mascota--campos{
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 20px;
    padding:1rem;
    display: flex;
    justify-content: space-around;
}


.busqueda--mascota--campos>input{
    width: 10rem;
    margin: 0px;
}

.busqueda--mascota--campos>p{
  margin: 0px;
  color:darkolivegreen;
}


.seccion--izquierda>h1{
    position: center;
}

.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    padding: 3rem;
}

.card {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;         
    display: flex;          
    flex-direction: column;
    align-items: center; 
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 20px;    
}

.card--image {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}

/* ADD */
.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.seccion--izquierda>input{
    margin-bottom: 1rem;
}



.detalles--mascota{
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 25px;    
    margin: 2rem
    
}

.detalles--mascota>label{
       
    margin-bottom: 1rem
    
}


.box_label{
    max-width: 15rem;
    background-color: ghostwhite;
    
    margin-left: 8rem;
    text-align: center;
}

textarea{
    width: 20rem;
    height: 15rem;
}

.box_dueño_nombre, .box_dueño_telefono, .box_dueño_correo{
    height: 250px;
    width: 250px;
    background-color: #D9D9D9;
    color:#0D9490;
    flex-direction: row;
    text-align: center;
    padding-top: 3%;
    border-radius: 10%;
    font-size: 2rem;
    transition: all .2s ease-in-out;

}



.box_dueño_nombre:hover, .box_dueño_correo:hover, .box_dueño_telefono:hover{transform:scale(1.1);}

#box_dueño-nombre{font-size: 20px;}

#box_dueño-nombre-1{color:black
}

#box_dueño-user{font-size:40px;}


.box_dueño_telefono{
    background-color: #F6E4C7;
}

.box_dueño_correo{
    background-color: #0D9490;
}

.box_dueño_correo>p{
    color:#FFFFFF;
}


.datos-contacto-dueño{
   display: flex;
   justify-content: space-around;
}

#datos-de-contacto{
    color:#377BE2;
    font-size: 3rem;
    text-align: center;
    font-weight: bolder;
}

.campos-izquierda{
    display: flex;
    

}

.campos{margin-right: 5rem;}

.campos-datos{max-width: 20rem;}

.campos>label{
    color: #9b9292;
}

.detalles--mascota--imagen{
    width: 400px;
    height: 400px;
}


.campos--izquierda--derecha{
    display: flex;
    justify-content: space-between;
}


.detalles--mascota--nombre{
   position: center;
}


input.invalid{
    border-color: #900;
    background-color: #FDD;
  }